<div class="container mt-n5">
  <app-path-to-page></app-path-to-page>
</div>

<div class="container-fluid pb-5">
  <div class="container d-flex flex-row justify-content-between category-name py-1 my-1 px-0">
    <h1 class="d-block">Fruit and vegetables</h1>

    <div class="view-info d-flex flex-row my-auto">
      <a href="#" class="ml-4 grid-view active-view">
        Grid view
      </a>
      <a href="#" class="ml-4 list-view">
        List view
      </a>
      <a href="#" class="ml-4 d-flex flex-row product-count">
        <h6 class="d-inline-block mr-1">116</h6>
        Products
      </a>
    </div>
  </div>

  <div class="container filters py-3 d-flex flex-column px-0">
    <div class="active-filters">

      <div class="input-group-sm mb-3 mr-3 float-left">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="radio" name="t1" value="1">
            <p class="mb-0 ml-1 pl-1">Filtre text</p>
            <input type="radio" name="t1" value="10" class="ml-3">
            <p class="mb-0 ml-1 pl-1">Filtre text</p>
          </div>
        </div>
      </div>

      <div class="input-group-sm mb-3 mr-3 float-left">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox">
            <p class="mb-0 ml-1 pl-1 mr-1">Filtre</p>
            <h6 class="mb-0 ml-1">Nbm</h6>
          </div>
        </div>
      </div>

      <div class="input-group-sm mb-3 mr-3 float-left">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox">
            <p class="mb-0 ml-1 pl-1 mr-1">Filtre</p>
            <h6 class="mb-0 ml-1">Nbm</h6>
          </div>
        </div>
      </div>

<!--      <div class="input-group-sm mb-3 mr-3 float-left">-->
<!--        <div class="input-group-prepend">-->
<!--          <div class="input-group-text">-->
<!--            <input type="radio" name="t1" value="1">-->
<!--            <input type="radio" name="t1" value="10">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

    </div>

    <div class="applied-filters">
      <h6 class="d-inline-block float-left">Applied filters:</h6>
      <div class="d-inline-block float-left ml-2">
        <h6>Selected Filtre</h6>
      </div>
      <div class="d-inline-block float-left ml-2">
        <h6>Selected Filtre</h6>
      </div>
    </div>
  </div>

  <div class="container products d-flex flex-row px-0">
    <div class="col-3 px-0">
      <app-category-menu></app-category-menu>
    </div>
    <div class="col-9 px-0">
      <div class="container-fluid px-0 d-flex flex-row justify-content-between mb-5">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
      </div>

      <div class="container-fluid px-0 d-flex flex-row justify-content-between mb-5">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
      </div>

      <div class="container-fluid px-0 d-flex flex-row justify-content-between mb-5">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
      </div>
    </div>
  </div>

  <div class="container pages d-flex flex-row justify-content-between px-0">
    <div class="current-page d-flex flex-row py-3">
      <p class="mb-0">Page: </p>
      <div class="to-page d-flex flex-row">
        <a href="#" class="active px-1">1</a>
        <a href="#" class="px-1">2</a>
        <a href="#" class="px-1">3</a>
        <a href="#" class="px-1">4</a>
      </div>
    </div>

    <div class="show-more">
      <button class="btn">
        Show more products
      </button>
    </div>

    <div class="products-count d-flex flex-row">
      <h6 class="mb-0 my-auto mr-1">336</h6>
      <p class="mb-0 my-auto">Products</p>
    </div>
  </div>
</div>

<!--{{x}}-->

