<div class="container-fluid pl-0 d-flex flex-column">
  <div class="category mb-5">
    <h4 class="mb-3">Categories</h4>
    <div class="d-flex flex-row justify-content-between">
      <p class="mb-0">Category name</p>

      <h6>116</h6>
    </div>

    <div class="d-flex flex-row justify-content-between">
      <p class="mb-0">Category name</p>

      <h6>116</h6>
    </div>

    <div class="d-flex flex-row justify-content-between">
      <p class="mb-0">Category name</p>

      <h6>116</h6>
    </div>

    <div class="d-flex flex-row justify-content-between">
      <p class="mb-0">Category name</p>

      <h6>116</h6>
    </div>
  </div>

  <div class="category mb-5">
    <h4 class="mb-3">Brands</h4>

    <div class="form-check mb-2">
      <input class="form-check-input mr-1" type="checkbox" value="" id="brand1">
      <label class="form-check-label ml-2 mb-0 mt-1" for="brand1">
        Filtre by brand item
      </label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input mr-1" type="checkbox" value="" id="brand2">
      <label class="form-check-label ml-2 mb-0 mt-1" for="brand2">
        Filtre by brand item
      </label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input mr-1" type="checkbox" value="" id="brand3">
      <label class="form-check-label ml-2 mb-0 mt-1" for="brand3">
        Filtre by brand item
      </label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input mr-1" type="checkbox" value="" id="brand4">
      <label class="form-check-label ml-2 mb-0 mt-1" for="brand4">
        Filtre by brand item
      </label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input mr-1" type="checkbox" value="" id="brand5">
      <label class="form-check-label ml-2 mb-0 mt-1" for="brand5">
        Filtre by brand item
      </label>
    </div>
  </div>

  <div class="category stars mb-5">
    <h4 class="mb-3">Brands</h4>

    <div class="form-check mb-2">
      <input class="form-check-input mr-1" type="checkbox" value="" id="star5">
      <div class="ml-2 d-flex flex-row py-auto pt-1">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
      </div>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input mr-1" type="checkbox" value="" id="star4">
      <div class="ml-2 d-flex flex-row py-auto pt-1">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
      </div>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input mr-1" type="checkbox" value="" id="star3">
      <div class="ml-2 d-flex flex-row py-auto pt-1">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
      </div>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input mr-1" type="checkbox" value="" id="star2">
      <div class="ml-2 d-flex flex-row py-auto pt-1">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
      </div>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input mr-1" type="checkbox" value="" id="star1">
      <div class="ml-2 d-flex flex-row py-auto pt-1">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
        <img src="../../../../assets/images/icons/ic-actions-star.svg">
      </div>
    </div>
  </div>
  <div class="price-settings">
    <h4 class="mb-3">Price</h4>

    <div class="d-flex flex-row justify-content-between price ">
      <div class="min-price">
        <h6>Min</h6>
        <input type="text" class="form-control px-1" placeholder="0.00 $">
      </div>
      <div class="px-2 py-auto my-auto">
        <h6 class="mb-0">-</h6>
      </div>
      <div class="max-price">
        <h6>Max</h6>
        <input type="text" class="form-control px-1" placeholder="9.99 $">
      </div>
    </div>

    <div class="buttons d-flex flex-row mt-4">
      <button class="btn float-left apply">Apply</button>
      <button class="btn float-left reset">Reset</button>
    </div>
  </div>
</div>

