<header>
  <div class="main-contacts container d-flex flex-row justify-content-between pt-3 pb-3 border-bottom">
    <div class="to-contact d-flex flex-row">
      <a href="/" class="mr-4 pr-1">Chat with us</a>
      <a href="/" class="mr-4 pr-1">+420 336 775 664</a>
      <a href="/" class="mr-4 pr-1">info@freshnesecom.com</a>
    </div>

    <div class="about-company d-flex flex-row ">
      <a href="/" class="ml-4 pl-1">Blog</a>
      <a href="/" class="ml-4 pl-1">About Us</a>
      <a href="/" class="ml-4 pl-1">Careers</a>
    </div>
  </div>

  <div class="container shop-header pt-3 pb-3 pr-0 pl-0 py-3">
    <div class="container-fluid mt-4 mb-4 d-flex flex-row justify-content-between pl-0 pr-0 py-4">

      <div class="logo col-3">
        <a [routerLink]="''" class="logo d-block">
          <img src="./assets/images/icons/Freshnesecom.svg" alt="Freshnesecom">
        </a>
      </div>
      <div class="col-6 d-flex flex-row flex-start">
        <div class="input-group search">
          <div class="input-group-prepend drop-down">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <input type="text" class="form-control pt-1 pb-1 border-0" aria-label="Text input with dropdown button">
          <div class="input-group-append">
            <button class="btn" type="button" id="button-addon2"><img src="./assets/images/icons/ic-actions-search.svg"></button>
          </div>
        </div>
      </div>

      <div class="user-cart col-1 d-flex flex-row justify-content-between align-items-center">
        <a href="/" class="d-block"><img src="./assets/images/icons/ic-actions-user.svg" alt="Account"></a>
        <button class="d-block btn" (click)="cartSwitch()">
          <img src="./assets/images/icons/ic-ecommerce-basket.svg" alt="Cart">
        </button>
      </div>
    </div>

  </div>

  <div class="container d-flex flex-row header-menu px-0 py-3">
    <div class="dropdown float-left ml-3 pl-1">
      <a class="btn dropdown-toggle border-0 pr-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Bakery
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    <div class="dropdown float-left ml-3 pl-1">
      <a class="btn dropdown-toggle border-0 pr-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Fruit and vegetables
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" [routerLink]="['/category']">All fruits and vegetables</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    <div class="dropdown float-left ml-3 pl-1">
      <a class="btn dropdown-toggle border-0 pr-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Meat and fish
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    <div class="dropdown float-left ml-3 pl-1">
      <a class="btn dropdown-toggle border-0 pr-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Drinks
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    <div class="dropdown float-left ml-3 pl-1">
      <a class="btn dropdown-toggle border-0 pr-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Kitchen
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    <div class="dropdown float-left ml-3 pl-1">
      <a class="btn dropdown-toggle border-0 pr-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Special nutrition
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    <div class="dropdown float-left ml-3 pl-1">
      <a class="btn dropdown-toggle border-0 pr-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Baby
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    <div class="dropdown float-left ml-3 pl-1">
      <a class="btn dropdown-toggle border-0 pr-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pharmacy
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

  </div>
</header>

<div class="container px-0 pt-5">
  <div class="container-fluid pt-3 px-0">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="container container-fluid d-flex flex-column pt-5">
  <div class="container-fluid d-flex flex-row pt-3">
    <div class="col-3 get-in-touch">
      <h4 class="footer-head">Get in touch</h4>
      <a href="/" class="d-block pt-3">About Us</a>
      <a href="/" class="d-block pt-3">Careers</a>
      <a href="/" class="d-block pt-3">Press Release</a>
      <a href="/" class="d-block pt-3">Blog</a>
    </div>
    <div class="col-3">
      <h4 class="footer-head">Connections</h4>
      <a href="/" target="_blank" class="d-block pt-3">Facebook</a>
      <a href="/" target="_blank" class="d-block pt-3">TWitter</a>
      <a href="/" target="_blank" class="d-block pt-3">Instagram</a>
      <a href="/" target="_blank" class="d-block pt-3">Youtube</a>
      <a href="/" target="_blank" class="d-block pt-3">Linkedin</a>
    </div>
    <div class="col-3">
      <h4 class="footer-head">Earnings</h4>
      <a href="/" class="d-block pt-3">Become an affiliate</a>
      <a href="/" class="d-block pt-3">Advertise your product</a>
      <a href="/" class="d-block pt-3">Sell on Market</a>
    </div>
    <div class="col-3">
      <h4 class="footer-head">Account</h4>
      <a href="/" class="d-block pt-3">Your account</a>
      <a href="/" class="d-block pt-3">Returns Centre</a>
      <a href="/" class="d-block pt-3">100% purchase protection</a>
      <a href="/" class="d-block pt-3">Chat with us</a>
      <a href="/" class="d-block pt-3">Help</a>
    </div>
  </div>

  <div class="container-fluid product-tags mt-5">
    <h4 class="product-tags-header d-block mb-3">
      Product tags
    </h4>

    <a href="/" class="d-block mr-3 mb-3">Beans</a>
    <a href="/" class="d-block mr-3 mb-3">Carrots</a>
    <a href="/" class="d-block mr-3 mb-3">Apples</a>
    <a href="/" class="d-block mr-3 mb-3">Garlic</a>
    <a href="/" class="d-block mr-3 mb-3">Mushrooms</a>
    <a href="/" class="d-block mr-3 mb-3">Tomatoes</a>
    <a href="/" class="d-block mr-3 mb-3">Chilli peppers</a>
    <a href="/" class="d-block mr-3 mb-3">Broccoli</a>
    <a href="/" class="d-block mr-3 mb-3">Watermelons</a>
    <a href="/" class="d-block mr-3 mb-3">Oranges</a>
    <a href="/" class="d-block mr-3 mb-3">Bananas</a>
    <a href="/" class="d-block mr-3 mb-3">Grapes</a>
    <a href="/" class="d-block mr-3 mb-3">Cherries</a>
    <a href="/" class="d-block mr-3 mb-3">Meat</a>
    <a href="/" class="d-block mr-3 mb-3">Seo tag</a>
    <a href="/" class="d-block mr-3 mb-3">Fish</a>
    <a href="/" class="d-block mr-3 mb-3">Seo tag</a>
    <a href="/" class="d-block mr-3 mb-3">Fresh food</a>
    <a href="/" class="d-block mr-3 mb-3">Lemons</a>
  </div>

  <div class="container-fluid copyright mt-5 mb-5 pb-3">
    <h5>Copyright © 2020 My angular app</h5>
  </div>
</footer>


<!--<footer *ngIf="title != 'checkout'; else checkoutfooter" class="container container-fluid d-flex flex-column pt-5">-->
<!--<footer *ngIf="notCheckout; else checkoutfooter" class="container container-fluid d-flex flex-column pt-5">-->
<!--  <div class="container-fluid d-flex flex-row pt-3">-->
<!--    <div class="col-3 get-in-touch">-->
<!--      <h4 class="footer-head">Get in touch</h4>-->
<!--      <a href="/" class="d-block pt-3">About Us</a>-->
<!--      <a href="/" class="d-block pt-3">Careers</a>-->
<!--      <a href="/" class="d-block pt-3">Press Release</a>-->
<!--      <a href="/" class="d-block pt-3">Blog</a>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      <h4 class="footer-head">Connections</h4>-->
<!--      <a href="/" target="_blank" class="d-block pt-3">Facebook</a>-->
<!--      <a href="/" target="_blank" class="d-block pt-3">TWitter</a>-->
<!--      <a href="/" target="_blank" class="d-block pt-3">Instagram</a>-->
<!--      <a href="/" target="_blank" class="d-block pt-3">Youtube</a>-->
<!--      <a href="/" target="_blank" class="d-block pt-3">Linkedin</a>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      <h4 class="footer-head">Earnings</h4>-->
<!--      <a href="/" class="d-block pt-3">Become an affiliate</a>-->
<!--      <a href="/" class="d-block pt-3">Advertise your product</a>-->
<!--      <a href="/" class="d-block pt-3">Sell on Market</a>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      <h4 class="footer-head">Account</h4>-->
<!--      <a href="/" class="d-block pt-3">Your account</a>-->
<!--      <a href="/" class="d-block pt-3">Returns Centre</a>-->
<!--      <a href="/" class="d-block pt-3">100% purchase protection</a>-->
<!--      <a href="/" class="d-block pt-3">Chat with us</a>-->
<!--      <a href="/" class="d-block pt-3">Help</a>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="container-fluid product-tags mt-5">-->
<!--    <h4 class="product-tags-header d-block mb-3">-->
<!--      Product tags-->
<!--    </h4>-->

<!--    <a href="/" class="d-block mr-3 mb-3">Beans</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Carrots</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Apples</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Garlic</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Mushrooms</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Tomatoes</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Chilli peppers</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Broccoli</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Watermelons</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Oranges</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Bananas</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Grapes</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Cherries</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Meat</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Seo tag</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Fish</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Seo tag</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Fresh food</a>-->
<!--    <a href="/" class="d-block mr-3 mb-3">Lemons</a>-->
<!--  </div>-->

<!--  <div class="container-fluid copyright mt-5 mb-5 pb-3">-->
<!--    <h5>Copyright © 2020 My angular app</h5>-->
<!--  </div>-->
<!--</footer>-->

<!--<ng-template #checkoutfooter>-->
<!--  lol-->
<!--</ng-template>-->

<div class="cart px-3 pt-4 pb-3" *ngIf="cartOpened">
  <app-shoping-cart
    (closeCart)="closeCart($event)"
  ></app-shoping-cart>
</div>
