<div class="d-inline-block px-3 main-card">
  <div class="review-card mx-3">
    <div class="review py-4 px-4 mx-2 d-flex flex-column ">
      <h5 class="d-inline-block">
        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
      </h5>

      <h6 class="d-inline-block mt-4 mb-3">
        Name and Surname
      </h6>
    </div>
  </div>

  <div class="reviewer-img">
    <img src="../../../../assets/images/review/reviewer.png" alt="user">
  </div>
</div>
