<div class="orders container d-flex flex-column align-iitems-center px-0">
  <div class="head-line mb-4 px-0 d-flex flex-column">
    <h2 class="mb-0">Orders</h2>
  </div>

  <div class="container-fluid d-flex flex-column px-0 align-items-center all-orders">
    <div class="container-fluid px-0 d-flex flex-row justify-content-between order mb-3">
      <div class="col-3 px-0">
        <h4 class="name mb-0 my-auto">Name</h4>
      </div>
      <div class="col-3 px-0">
        <button class="btn details">Details</button>
      </div>


      <h5 class="delivery-code mb-0 my-auto">
        Code
      </h5>


    </div>
  </div>
</div>
