<div class="container mt-n5">
  <app-path-to-page></app-path-to-page>
</div>

<div class="container-fluid px-0">
  <div class="d-flex flex-row">
    <div class="col-6 photos">
      <div class="product-image first-image mb-3">
        <div class="d-flex flex-row discount">
          <h6 class="mb-0">-36%</h6>
          <h6 class="mb-0">Free shipping</h6>
        </div>
      </div>

      <div class="product-image mb-3"></div>
      <div class="product-image mb-3"></div>
    </div>
    <div class="col-6 product-info">
      <div class="short-info">
        <div class="product-name d-flex flex-column mb-4 justify-content-start">
          <h1 class="d-block">
            Carrots from Tomissy Farm
          </h1>
          <div class="short-review d-flex flex-row">
            <div class="stars">
              <img src="./assets/images/icons/ic-actions-star.svg">
              <img src="./assets/images/icons/ic-actions-star.svg">
              <img src="./assets/images/icons/ic-actions-star.svg">
              <img src="./assets/images/icons/ic-actions-star.svg">
              <img src="./assets/images/icons/ic-actions-star.svg" class="mr-1">

              <a href="/" class="ml-1">1 customer review</a>
            </div>
          </div>
        </div>

        <div class="product-short-description mb-4 mt-3">
          <p>Carrots from Tomissy Farm are one of the best on the market. Tomisso and his family are giving a full love to his Bio products. Tomisso’s carrots are growing on the fields naturally.</p>
        </div>

        <div class="mt-3 delivery-info mb-4 d-flex flex-row">
          <div class="col-6 d-flex flex-column pl-0">
            <div class="d-flex flex-row">
              <div class="col-5 delivery-subcategory px-0">
                <p>SKU:</p>
              </div>
              <div class="col-7 px-0 delivery-subinfo">
                <p>76645</p>
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="col-5 delivery-subcategory px-0">
                <p>Category:</p>
              </div>
              <div class="col-7 px-0 delivery-subinfo delivery-category">
                <p>Vegetables</p>
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="col-5 delivery-subcategory px-0">
                <p>Stock:</p>
              </div>
              <div class="col-7 px-0 delivery-subinfo delivery-stock">
                <p>In Stock</p>
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="col-5 delivery-subcategory px-0">
                <p>Farm:</p>
              </div>
              <div class="col-7 px-0 delivery-subinfo">
                <p>Grocery Tarm Fields</p>
              </div>
            </div>
          </div>

          <div class="col-6 d-flex flex-column pr-0">
            <div class="d-flex flex-row">
              <div class="col-5 delivery-subcategory px-0">
                <p>Freshness:</p>
              </div>
              <div class="col-7 px-0 delivery-subinfo">
                <p>1 days old</p>
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="col-5 delivery-subcategory px-0">
                <p>Buy by:</p>
              </div>
              <div class="col-7 px-0 delivery-subinfo">
                <p>pcs, kgs, box, pack</p>
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="col-5 delivery-subcategory px-0">
                <p>Delivery:</p>
              </div>
              <div class="col-7 px-0 delivery-subinfo">
                <p>in 2 days</p>
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="col-5 delivery-subcategory px-0">
                <p>Delivery area:</p>
              </div>
              <div class="col-7 px-0 delivery-subinfo">
                <p>Czech republic</p>
              </div>
            </div>
          </div>

        </div>

        <div class="mt-3 mb-4 buying p-3">
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column price my-auto">
              <h2>
                13.12 USD
              </h2>

              <h6>
                36.69 USD
              </h6>
            </div>

            <div class="d-flex flex-row add-to-cart">
              <div class="package-type form-group d-flex flex-row my-auto">
                <label for="exampleFormControlSelect1" class="mb-0 pr-3 mt-1">1</label>
                <select class="form-control ml-3" id="exampleFormControlSelect1">
                  <option>Pcs</option>
                  <option>Kg</option>
                  <option>Box</option>
                  <option>Pack</option>
                </select>
              </div>
              <button class="btn ml-4">Add to cart</button>
            </div>
          </div>
        </div>

        <div class="mt-3 mb-5 pb-4 d-flex flex-row to-wishlist">
          <button class="btn">Add to my wish list</button>
          <button class="ml-3 btn">Compare</button>
        </div>
      </div>

<!--      there-->
      <div class="full-info pt-1">
        <ul class="nav nav-tabs d-flex flex-row justify-content-between" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
              <a class="nav-link active pb-3" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                <h4 class="mb-0">Description</h4>
              </a>
          </li>

          <li class="nav-item" role="presentation">
            <a class="nav-link d-flex flex-row pb-3" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
              <h4 class="mb-0">Reviews</h4>
              <h6 class="my-auto d-inline-block ml-2 px-2">18</h6>
            </a>
          </li>

          <li class="nav-item" role="presentation">
            <a class="nav-link d-flex flex-row pb-3" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
              <h4 class="mb-0">Questions</h4>
              <h6 class="my-auto d-inline-block ml-2 px-2">4</h6>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="full-description">
              <div class="container-fluid px-0 my-4">
                <h5 class="mb-2">Origins</h5>
                <p class="mb-4">
                  We work hard to ensure that the fruit and vegetables we sell are fresh and high in quality. If we don’t grow them ourselves, we source them from carefully chosen suppliers, preferring to buy locally whenever possible.
                </p>

                <h5 class="mb-2">
                  How to cook
                </h5>
                <p class="mb-4">
                  From roasts, salads and soups to casseroles and cakes, Carrots will lend sweetness, texture and colour to an enormous number of recipes.
                </p>

                <div class="container-fluid px-0 d-flex flex-column">
                  <h5 class="mb-3">
                    Full of Vitamins!
                  </h5>

                  <div class="container-fluid headline d-flex flex-row px-0">
                    <div class="col-4 px-0"><h6>Vitamins</h6></div>
                    <div class="col-4 px-0"><h6>Quantity</h6></div>
                    <div class="col-4 px-0"><h6>% DV</h6></div>
                  </div>
                  <div class="container-fluid d-flex flex-row px-0 py-2">
                    <div class="col-4 px-0"><p class="mb-0">Vitamin A equiv.</p></div>
                    <div class="col-4 px-0"><p class="mb-0">735 μg</p></div>
                    <div class="col-4 px-0"><p class="mb-0">104 %</p></div>
                  </div>

                  <div class="container-fluid d-flex flex-row px-0 py-2">
                    <div class="col-4 px-0"><p class="mb-0">Thiamine (B1)</p></div>
                    <div class="col-4 px-0"><p class="mb-0">0.066 mg</p></div>
                    <div class="col-4 px-0"><p class="mb-0">6 %</p></div>
                  </div>

                  <div class="container-fluid d-flex flex-row px-0 py-2">
                    <div class="col-4 px-0"><p class="mb-0">Niacin (B3)</p></div>
                    <div class="col-4 px-0"><p class="mb-0">0.983 mg</p></div>
                    <div class="col-4 px-0"><p class="mb-0">7 %</p></div>
                  </div>

                  <div class="container-fluid d-flex flex-row px-0 py-2">
                    <div class="col-4 px-0"><p class="mb-0">Folate (Bg)</p></div>
                    <div class="col-4 px-0"><p class="mb-0">19 μg</p></div>
                    <div class="col-4 px-0"><p class="mb-0">5 %</p></div>
                  </div>

                  <div class="container-fluid d-flex flex-row px-0 py-2">
                    <div class="col-4 px-0"><p class="mb-0">Vitamin C</p></div>
                    <div class="col-4 px-0"><p class="mb-0">5.9 mg</p></div>
                    <div class="col-4 px-0"><p class="mb-0">7 %</p></div>
                  </div>

                  <div class="container-fluid d-flex flex-row px-0 py-2">
                    <div class="col-4 px-0"><p class="mb-0">Vitamin E</p></div>
                    <div class="col-4 px-0"><p class="mb-0">0.66 mg</p></div>
                    <div class="col-4 px-0"><p class="mb-0">4 %</p></div>
                  </div>

                  <div class="container-fluid d-flex flex-row px-0 py-2">
                    <div class="col-4 px-0"><p class="mb-0">Vitamin K</p></div>
                    <div class="col-4 px-0"><p class="mb-0">13.2</p></div>
                    <div class="col-4 px-0"><p class="mb-0">13   %</p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            2
          </div>

          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            3
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column related-products container py-5">
    <div class="container-fluid d-flex flex-row px-0 justify-content-between mt-4 mb-3 head-line">
      <h4 class="d-inline-block mb-0 my-auto">Related products</h4>
      <a href="/" class="d-inline-block">More products</a>
    </div>

    <div class="container-fluid d-flex flex-row justify-content-between mb-4 px-0 pb-4">
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
    </div>
  </div>
</div>
