<div class="container-fluid px-0">
  <div class="d-flex flex-row">
    <div class="col-3 pl-0">
      <div class="image"></div>
      <div class="d-flex flex-column checkout-process">
        <div class="wishlist d-flex flex-row">
          <img src="./assets/images/icons/ic-actions-heart.svg" alt=" " class="my-auto">
          <p class="mb-0 ml-1">Wishlist</p>
        </div>
        <div class="compare d-flex flex-row">
          <img src="./assets/images/icons/ic-layout-picture-right.svg" alt=" " class="my-auto">
          <p class="mb-0 ml-1">Compare</p>
        </div>
        <div class="remove d-flex flex-row">
          <img src="./assets/images/icons/ic-actions-close-simple.svg" alt=" " class="my-auto">
          <p class="mb-0 ml-1">Remove</p>
        </div>
      </div>
    </div>
    <div class="col-9 pr-0 d-flex flex-column">
      <div class="product-title d-flex flex-column">
        <div class="name">
          <h5>Product title</h5>
        </div>

        <div class="basket-description d-flex flex-row">
          <div class="col-4 px-0 category-name">
            <p class="mb-0">Farm:</p>
            <p class="mb-0">Freshness:</p>
          </div>

          <div class="col-4 px-0 category-description">
            <p class="mb-0">Tharamis Farm</p>
            <p class="mb-0">1 day old</p>
          </div>
        </div>

        <div class="stars mb-3">
          <img src="./assets/images/icons/ic-actions-star.svg">
          <img src="./assets/images/icons/ic-actions-star.svg">
          <img src="./assets/images/icons/ic-actions-star.svg">
          <img src="./assets/images/icons/ic-actions-star.svg">
          <img src="./assets/images/icons/ic-actions-star.svg">
        </div>

        <div class="d-flex flex-row justify-content-between price-settings">
          <div class="d-flex flex-column price my-auto">
            <h4 class="mb-0">
              13.12 USD
            </h4>

            <h6 class="mb-0">
              36.69 USD
            </h6>
          </div>

          <div class="d-flex flex-row cart-settings my-auto">
            <div class="package-type form-group d-flex flex-row my-auto">
              <label for="exampleFormControlSelect1" class="mb-0 pr-1 mr-1 my-auto">1</label>
              <select class="form-control p-0" id="exampleFormControlSelect1">
                <option>Pcs</option>
                <option>Kg</option>
                <option>Box</option>
                <option>Pack</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
