<div class="container-fluid px-4 py-5">
  <div class="mx-3 px-1 d-flex flex-row py-3 mt-1">
    <div class="col-3">
      <app-left-menu></app-left-menu>
    </div>

    <div class="col-9 d-flex flex-row main-promotion">
      <div class="col-6">
        <app-main-promotion></app-main-promotion>
      </div>
      <div class="col-6">
        <app-main-promotion></app-main-promotion>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid px-0 py-5">
  <div class="mx-3 px-0 d-flex flex-row py-4">
    <div class="col-3">
      <app-left-menu></app-left-menu>
    </div>

    <div class="col-9 d-flex flex-row justify-content-between px-0">
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
    </div>
  </div>
</div>

<div class="container-fluid px-0 py-5">
  <div class="mx-3 px-1 d-flex flex-row py-4">
    <div class="col-3">
      <app-left-menu></app-left-menu>
    </div>

    <div class="col-9 d-flex flex-row justify-content-between px-0">
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
    </div>
  </div>
</div>

<div class="container-fluid py-5 px-0 review">
  <div class="container-fluid py-2 px-0">
    <div class="container d-flex flex-row justify-content-between px-5 header">
      <h4>
        Our customers says
      </h4>

      <button class="btn px-2 py-1">
        Button
      </button>
    </div>

    <div class="review-offset mt-5">
      <div class="">
        <!--        there-->
        <div class="buttons-on-component d-flex flex-row justify-content-between container-fluid px-0">
          <div class="first-button">
            <a href="/" class="px-0 py-auto d-block">
              <!--              <img src="./assets/images/icons/ic-chevron-left.svg" alt="<">-->
            </a>
          </div>
          <div class="second-button">
            <a href="/" class=" px-0 py-auto d-block">
              <!--              <img src="./assets/images/icons/ic-chevron-right.svg" alt=">">-->
            </a>
          </div>
        </div>

        <div class="reviews d-flex flex-row pb-1">
          <app-review></app-review>
          <app-review></app-review>
          <app-review></app-review>
          <app-review></app-review>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  There will be blog
</div>
