@use "sass:map";

// foundation/_colors.scss
// colors variables
$color-1-a: #151515;
$color-1-b: #575757;
$color-1-c: #A9A9A9;
$color-1-d: #D1D1D1;
$color-1-e: #EBEBEB;
$color-1-f: #F5F5F5;
$color-1-h: #F9F9F9;
$color-1-j: #FFFFFF;
$color-1-i: #FDFDFD;

$color-2-a: #6A983C;
$color-2-b: #46760A;
$color-2-c: #92C064;
$color-2-d: #C8DEB3;
$color-2-e: #F4F8EC;

$color-3-a: #D0A866;
$color-3-b: #B28A48;
$color-3-c: #ECD2A6;
$color-3-d: #FAEDD8;
$color-3-e: #FFF9F0;

$color-4-a: #E5704B;
$color-4-b: #C7522D;
$color-4-c: #EB8D70;
$color-4-d: #F7C6B7;
$color-4-e: #FFF1ED;

$color-5-a: #37D0D6;
$color-5-b: #19B2B8;
$color-5-c: #7CD0D3;
$color-5-d: #B9E6E8;
$color-5-e: #ECF6F6;

//font variables

//$map: (
//  key: value;
//  other-key: other-value;
//);
//
//.ellement{
//  propert: map-get($map, key)
//}

$default-font: 'Poppins', sans-serif;
$default-font-weight: 600;
$default-font-size: 14px;

$scale-1: 32px;
$scale-2: 26px;
$scale-3: 22px;
$scale-4: 18px;
$scale-5: 15px;
$scale-6: 12px;

$underline: underline;

$headline: (
  'font-family': ('Open Sans', sans-serif),
  'font-size': 12px
);

$button: (
  'button-default': ('Poppins', sans-serif),
  'font-size': 15px,
  'font-weight': bold
);

$lead: (
  'lead-default': ('Open Sans', sans-serif),
  'font-size': 17px,
  'font-weight': 400,
);

$body: (
  'body-default': ('Open Sans', sans-serif),
  'font-size': 14px,
  'font-weight': 400
);

$caption: (
  'font-family': ('Open Sans', 'sans-serif'),
  'font-size': 12px,
  'font-weight': 400
);

body {
  background-color: $color-1-d;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  div {
    background-color: $color-1-j;
  }

  h1 {
    font-size: $scale-1;
  }

  h2 {
    font-size: $scale-2;
  }

  h3 {
    font-size: $scale-3;
  }

  h4 {
    font-size: $scale-4;
  }

  h5 {
    font-size: $scale-5;
  }

  h6 {
    font-size: $scale-6;
  }

  header {
    .to-contact {
      a {
        color: $color-1-a;
        font-family: map.get($caption, font-family);
        font-size: map.get($caption, font-size);
        font-weight: map.get($caption, font-weight);

        &:first-child {
          color: $color-2-a;
        }
      }
    }

    .shop-header {
      background-color: $color-1-j;

      .logo {
        img {
          height: 18px;
        }
      }

      .search {
        border-radius: 12px;
        border: 1px solid $color-1-c;
        font-family: map.get($button, button-default);
        font-size: map.get($button, font-size);
        font-weight: map.get($button, font-weight);

        &div{
          background-color: $color-1-d;
        }

        button.dropdown-toggle {
          &:after {
            border-top-color: $color-2-a;
            border-bottom-color: $color-2-a;
          }
        }

        div.drop-down {
          background: none;
          border: none;

        }

        div.input-group-append {
          background: none;
          border: none;
        }

        .input-group-append {
          button.btn {
            img {
              //padding: 13px 13px;
              width: 16px;
              height: 16px;
              margin-top: auto;
              fill: $color-1-a;
            }
          }
        }
      }

      .user-cart {

      }

  .user-cart {
    img {
      width: 24px;
    }
  }
}

    .header-menu {
      .dropdown {

        &:first-child {
          margin-left: 0 !important;
        }

        a {
          font-size: $scale-5;
          font-weight: $default-font-weight;
          color: $color-1-a;
          font-family: $default-font;

          &:after {
            border-top-color: $color-2-a;
            border-bottom-color: $color-2-a;
          }
        }
      }
    }

.about-company {
  a {
    color: $color-2-a;
    font-family: map.get($caption, font-family);
    font-size: map.get($caption, font-size);
    font-weight: map.get($caption, font-weight);
  }
}
}

  app-root {
    background-color: $color-1-d;
  }

footer {
background-color: $color-1-j;

.footer-head {
  color: $color-1-a;
  font-family: map.get($button, button-default);
}

a {
  &:hover {
    color: $color-2-a;
  }
}

a {
  color: $color-2-a;
  font-size: 14px;
}

.product-tags {
  h4 {
    font-family: map.get($button, button-default);
  }

  a {
    font-size: $scale-6;
    font-weight: 600;
    color: $color-1-a;
    background-color: $color-1-f;
    padding: 4px 10px;
    border-radius: 10px;
    text-align: center;
    display: block;
    float: left;

  }
}

.copyright {
  h5 {
    font-family: map.get($headline, font-family);
    font-weight: 400;
  }
}
}


}
